/*FOOTER CSS*/

.footer {
  width: 90%;
  margin: auto;
}

.footer-content {
  margin: 100px 0px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  place-items: center;
}

.footer-title {
  font-family: "Archivo Black";
  font-size: 40px;
}

.footer-email {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  color: #6d6dff;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.footer-link {
  width: 24px;
  height: 24px;
  object-fit: cover;
  text-decoration: none;
}

.footer-link:hover {
  background: #ffffff;
  color: #111111;
}
