/*HEADER CSS*/

.header {
  width: 90%;
  margin: 0 auto 100px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  place-items: center;
}

.header__content {
  width: calc(100% - 407px);
  min-width: 387px;
  display: flex;
  flex-direction: column;
}

.header__title {
  font-family: "Archivo Black", Arial, sans-serif;
  font-size: 72px;
}

.header__role {
  font-family: "Open Sans", Arial, sans-serif;
  font: size 18px;
  opacity: 0.5;
  margin: 15px 0 30px;
}

.header__description {
  font-family: "Open Sans", Arial, sans-serif;
  font: size 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.header__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.header__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: "SemiBold";
  font-weight: 600;
  font: size 18px;
  color: inherit;
  text-decoration: none;
  padding-bottom: 12px;
  position: relative;
}

.header__link::after {
  width: 100%;
  height: 6px;
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #6a00a8, #704cff);
}

.header__link:hover {
  color: #6c63ff;
}

.header__photo-img {
  width: 387px;
  height: 500px;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .header__photo-img {
    order: -1;
  }
}
