/*HEADER CSS*/

.header {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 20px;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-family: "Archivo Black", Arial, sans-serif;
  font-weight: 400px;
  font-style: "Regular";
  font-size: 72px;
}

.header__role {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400px;
  font-style: "Regular";
  font: size 18px;
  opacity: 0.5;
  margin: 15px 0 30px;
}

.header__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400px;
  font-style: "Regular";
  font: size 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.header__photo {
  width: 100%;
}

.header__photo-img {
  width: 387px;
  height: 500px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  object-position: center;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
  font-style: "SemiBold";
  font: size 18px;
  text-decoration: none;
}

.header__link:hover {
  color: var(--color-purple);
}
